<% provide(:title,'About Us') %>
<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Ruby on rails tutorial | <%= yield(:title) %></title>
  <body>
  <h1>Sample App</h1>
    <p>Find me in app/views/static_pages/home.html.erb</p>
  </body>
</head>
</html>

